:root {
/* set var for mobile */
    --body-color: #0055ff;
}

/* Make box-sing default to border-box */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* Basic error checking on mandatory CSS properties */
html:not([lang]),html[lang=""] { border-top: 20px solid red; }
img:not([alt]),img[alt=""] { border: 5px dashed red; }
canvas:not([role]),canvas:not([aria-label]),canvas[role=""],canvas[aria-label=""] { border: 5px dashed red; }





@import url('https://fonts.googleapis.com/css?family=Ubuntu:900|Poppins:400');

html {
  font-size: 100%;} /*16px*/

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-size:  1rem; /* 18px 1.125rem; */
  font-weight: 400;
  line-height: 1.5; /* WCAG recommendation @see GB#35 */
  color: #333;
  overflow: hidden;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 0 0 1.05rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  line-height: 1.15;
}

/* Minor Third */
h1 {
  margin-top: 0;
  font-size: 2.488em;
}

h2 {font-size: 2.074em;}

h3 {font-size: 1.728em;}

h4 {font-size: 1.44em;}

h5 {font-size: 1.2em;}

small, .text_small {font-size: 0.833em;}



/* Body color set to custom property. Change colour in the the :root rule */

body {
  /*color: var(--body-color);*/
}

/* Responsive flex @see html-css-js/media-query-min-width */
main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  /*min-height: 100vh;
   width: 100vw;
   min-height: 100vh;*/
  /*flex-wrap: wrap;*/
  /*justify-content: center;
  align-items: center;*/
}

main > * {
  padding: 5px;
  margin: 10px;
  /*flex: 1 1 100%;*/
}


@media screen and (min-width: 768px) {

  main {
    flex-direction: row;
    /*flex-wrap: nowrap;*/
  }
  main > article {
    flex-basis: 65%;
  }
  main > aside {
    flex-basis: 35%;
  }

}

@media screen and (min-width: 1200px) {
  body {
    font-size: 1.125rem;
  }
}
